
{% extends "baseAdmin.html.twig" %}
{% block container %}
    <section class="content">
        <div class="row">
            <div class="col-12">
                <!-- /.card -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">DataTable with default features</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Category ID</th>
                                <th>Category Name</th>
                                <th>Category Type</th>
                                <th>PRODUCT ID</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in category %}
                                <tr>
                                    <td>Category N°: {{ i.id }}</td>
                                    <td>{{ i.nomcat }}</td>
                                    <td>{{ i.souscat }}</td>
                                    <td>{{ i.Product.id }}</td>
                                    <td><a href="{{ path('delete_category',{'id':i.id}) }}">Delete</a>
                                        <a href="{{ path('update_category',{'id':i.id}) }}">Update</a> </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Category ID</th>
                                <th>Category Name</th>
                                <th>Category Type</th>
                                <th>PRODUCT ID</th>
                                <th>Actions</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
{% endblock %}


{% block javascripts %}
    <!-- DataTables -->
    <script src="{{ asset("back/plugins/datatables/jquery.dataTables.js") }}"></script>
    <script src="{{ asset("back/plugins/datatables-bs4/js/dataTables.bootstrap4.js") }}"></script>
    <script>
        $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true,
            });
        });
    </script>
{% endblock %}