{% extends "baseAdmin.html.twig" %}
{% block container %}
    <div class="col-lg-12">
        <h1 class="page-header">Categories Forms</h1>
    </div>
    {{ form_start(form) }}

    <div class="form-group">
        <label class="col-form-label" for="inputSuccess"> Nom Category</label>
        {{ form_widget(form.souscat,{'attr': {'class': 'form-control'}} )}}
    </div>
    <div class="form-group">
        <label class="col-form-label" for="inputSuccess"> Discreption Category</label>
        {{ form_widget(form.nomcat,{'attr': {'class': 'form-control'}} )}}
    </div>

    <div class="form-group">
        <label class="col-form-label" for="inputSuccess"> Produit</label>
        {{ form_widget(form.Product,{'attr': {'class': 'form-control'}} )}}
    </div>

    {{ form_rest(form) }}

{% endblock %}